{% extends "galvenais.html" %}
{% block title %}
  <title>Par</title>
{% endblock %}
{% block saturs %}
<style>
    .pop-out
    {
        transition: transform .5s;
    }

    .pop-out:hover
    {
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }
</style>
    <img src="https://i.imgur.com/hXMVx2Z.jpg" class="pop-out">
  <img src="https://i.imgur.com/hXMVx2Z.jpg">
<br>
<h4 style="text-align: center; font-size: 30px; color: blueviolet;">Šī lapa ir veidota, kā projekts programmēšanas stundai Grobiņas skolā.</h4>



{% endblock %}