<!DOCTYPE html>
<html>

<head>
	<title>Lapas</title>


	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">

	<br>
</head>

<body>


  	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css') }}">
    
    <style> 
    head {
  background-image: url('https://i.imgur.com/QYGfnmL.jpg');
}
    </style>
    
 <div class="neee">
    	<h1>Minerālvielu ietekme uz zirņu dīgstu augšanu.</h1>
 </div>
  <u><h2>Pētāmā problēma</h2></u>
Kura no minerālvielām (Ca(H2PO4)2, VITO2) vislabvēlīgāk ietekmēs zirņu dīgšanu?
	<u><h3>Hipotēze</h3></u>
	Zirņu masa visvairāk palielināsies KCl šķīdumā, jo tas veicina fotosintēzi.
<div class="nekas"></div>
		<div>
			<a class="btn btn-primary" role="button" href="{{url_for('viens')}}">Datu reģistrēšana</a>


			<a class="btn btn-primary" role="button" href="{{url_for('divi')}}">Datu apstrāde</a>

			<a class="btn btn-primary" role="button" href="{{url_for('galerija')}}">Galerija</a>

			</div>

</body>

</html>